*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: arial;
}

:root{
    --bgColor: #202124;
    --buttonColor: #303134;
}

nav #navbar{
    height: 15vh;
    width: 100vw;
    background-color: var(--bgColor);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

nav #navbar a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

#container{
    height: 75vh;
    width: 100vw;
    background-color: var(--bgColor);
    text-align: center;
}

#container h1{
    color: white;
    font-size: 100px;
    padding: 20px;
}

#container #formSection{
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#container #formSection .textArea{
    height: 12vh;
    width: 48vw;
    background-color: var(--bgColor);
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#container #formSection .textArea input{
    height: 9vh;
    width: 45vw;
    border: none;
    background-color: var(--bgColor);
    font-size: 18px;
    color: white;
}

#container #formSection .textArea input:focus{
    height: 9vh;
    width: 45vw;
    border: none;
    outline: none;
    background-color: var(--bgColor);
    font-size: 18px;
    color: white;
    border: none;
}

::placeholder{
    text-align: center;
    padding: 15px;
    font-size: 18px;
    color: white;
}

#container #formSection .button{
    height: 9vh;
    width: 20vw;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: var(--buttonColor);
}

#container #formSection .button:hover{
    height: 9vh;
    width: 20vw;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: var(--buttonColor);
}

footer #footer{
    height: 10vh;
    width: 100vw;
    background-color: var(--bgColor);
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}