*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgColor: #202124;
}

nav #navbar{
    height: 15vh;
    width: 100vw;
    background-color: var(--bgColor);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

nav #navbar a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

#container{
    height: 75vh;
    width: 100vw;
    background-color: var(--bgColor);
    text-align: center;
}

#container h1{
    color: white;
    font-size: 125px;
    padding: 25px;
}

#container .formSection{
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: pink;
}

footer #footer{
    height: 10vh;
    width: 100vw;
    background-color: var(--bgColor);
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}